/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* font-family: 'Dancing Script', cursive; */

*{
    box-sizing: border-box;
    
    padding: 0;
}

body{
    width: 100%;
    height: 90vh;
}

/************** HEADER *************/
header{
    background-color: rgb(247, 247, 247);
}
header .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    font-size: 2.8rem;
    font-family: 'Dancing Script', cursive;
    margin: 0;
}
header .logo{
    padding: 15px 30px;
    margin-bottom: 0;
}
header nav{
    display: flex;
    text-align: center;
    padding: 0 30px;
}    
header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 12px;
    font-size: 1.1rem;

}
header a:hover{
    color: blueviolet;
}

/************** CONTACT FORM ***********/
#contacto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 100px;
}
#contacto::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/hero1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(15px);
}
.contact-box{
    max-width: 850px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border-radius: 7px;

}
.left{
    height: 100%;
    width: 100%;
    background-image: url(../img/hero1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(2px);
    border-radius: 5px;
}
.right{
    margin: 2rem;
}
.logo{
    margin-top: 0;
}

h2{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
h2 span{
    font-family: 'Dancing Script', cursive;
    color: blueviolet;
    font-size: 2rem;
}
.field{
    width: 100%;
    padding: 0.7rem 1rem;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border: 2px solid rgba(0,0,0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    border-radius: 7px;
    transition: 0.3s;
    resize: none;
}
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
    min-height: 150px;
    resize: none;
}
.area::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    width: 100%;
    padding: 0.7rem 1rem;
    background-color: blueviolet;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    outline: none;
}
.btn:hover{
    background-color: rgb(95, 31, 155);
    letter-spacing: 2px;
}

/****************** FOOTER ********************/

footer{
    background-color: rgb(247, 247, 247);
}
footer .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
}

/************** MEDIA QUERIES *************/
@media (max-width: 880px) {
    header .contenedor{
        flex-direction: column;
    }
    header nav{
        flex-direction: column;
    }
    header nav a{
        padding: 0.2rem 1rem;
    }

    .contact-box{
        grid-template-columns: 1fr;
        
    }
    .left{
        height: 250px;
    }
      
}


/************** MEDIA QUERIES *************/